main {
  align-items: flex-start;
  background: #fff;
  border-radius: 20px 20px 0 0;
  bottom: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: flex-start;
  left: 2rem;
  padding: 1.5rem 3rem;
  position: absolute;
  width: 55vw;
  z-index: 1;
}

h1 {
  font-weight: 600;
  color: #4b7287;
}

.log {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 75vh;
  width: 100%;

  article {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    width: 100%;
    // height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // align-items: center;
    padding: 8px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  button {
    background: none;
    border: none;
    color: #702082;

    &:hover {
      cursor: pointer;
      color: #4b7287;
    }
  }
}

.Summary--content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
}

.indicator {
  position: absolute;
  bottom: 20px;
  left: 0;
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: center;

  i {
    color: #702082;
    margin: 0 5px;
  }
  button {
    margin: 0 5px;
    font-weight: 500;
  }
}