@import './normalize.scss';

@import './Card.scss';
@import './Dashboard.scss';
@import './Header.scss';
@import './Payment.scss';
@import './Profile.scss';
@import './Remittance.scss';
@import './Transaction.scss';

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #ECF1F4;

// ** From Paymerang
  font-size: 16px;
  line-height: 1.333;
  color: #000;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-style: normal;
  position: relative;
  z-index: 1;
}

.overlay {
  content: '';
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0 ,0 ,.3);
}

.modal {
  position: relative;
  height: max-content;
  width: max-content;
  padding: 2.5rem;
  background: white;
  border: .25px solid rgba(0, 0 ,0 ,.5);
  box-shadow: 1px 1px 5px rgba(0, 0 ,0 ,.3);

  .close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: none;
    border: none;
    color: #6e2a80;
    &:hover {
      color: #4b7287;
      cursor: pointer;
    }
  }
}